<section class="chapter-card">
    <div class="chapter-card__header">
        <span class="chapter-card__number">{{ chapter['number'] }}</span>
        <h2 class="chapter-card__title">{{ chapter['title'] }}</h2>
    </div>
    <p class="chapter-card__description">{{ chapter['description'] }}</p>
</section>