<div class="side-nav side-nav--extended">
    <nav class="chapter-nav">
        <p class="chapter-nav__label">Guides</p>
        {# <a href="#content"  class="chapter-nav__chapter-title">{{ sections[0]["title"] }}</a> #}
        <ol class="chapter-nav__list">
            {% for this_section in sections[1:] %}
            {% set is_active_section = this_section["route"] == section["route"] %}
            <li class="chapter-nav__list-item">
                <a href="{{ this_section['link'] }}" class="chapter-nav__link{% if is_active_section %} chapter-nav__link--active{% endif %}">{{ this_section["title"] }}</a>
                {% if this_section["h2s"] and is_active_section %}
                <ol class="chapter-nav__nested-list">
                    {% for h2_slug, h2_title in this_section["h2s"].items() %}
                    <li class="chapter-nav__nested-list-item">
                         <a href="{{ this_section["link"] }}#{{ h2_slug }}" class="chapter-nav__nested-link">{{ h2_title}}</a>
                    </li>
                    {% endfor %}
                </ol>
                {% endif %}
            </li>
            {% endfor %}
        </ol>
        <a href="/account" class="chapter-nav__back">Back to chapters</a>
    </nav>
</div>
