<footer class="site-footer">
  <div class="site-footer__inner">
    <a class="site-footer__brand" href="/">Keybase&nbsp;<span>Book</span></a>
    <ul class="site-footer__list">
      <li class="site-footer__list-item">
        <a class="site-footer__link" href="https://keybase.io/">Keybase Home</a>
      </li>
      <li class="site-footer__list-item">
        <a class="site-footer__link" href="https://github.com/keybase/book-content/issues">Bug Reporting</a>
      </li>
      <li class="site-footer__list-item">
        <a class="site-footer__link" href="https://keybase.io/docs/terms">Terms</a>
      </li>
      <li class="site-footer__list-item">
        <a class="site-footer__link" href="https://keybase.io/docs/privacypolicy">Privacy</a>
      </li>
      <li class="site-footer__list-item">
        <a class="site-footer__link" href="https://keybase.io/docs/acceptable-use-policy">Acceptable Use</a>
      </li>
    </ul>
    {% include './partials/download-cta.html.j2' %}
    <span class="site-footer__copyright">(C) Keybase — 2022</span>
    <span class="site-footer__disclaimer">Keybase Book is <a href="https://github.com/keybase/book-content/">open source</a>.</span>
  </div>
</footer>
