.side-nav {
  display: none;
  align-content: space-between;
  align-self: stretch;
  @include screen(sm) {
    display: grid;
  }
  &--extended {
    .chapter-nav__nested-list {
      padding-left: 0.75rem;
    }
  }
}
.chapter-nav {
  $this: &;
  position: sticky;
  margin-bottom: var(--sizing--chapter-nav-end);
  padding-bottom: 1rem;
  max-width: $sizing--chapter-nav__width;
  padding-right: $sizing--content__padding-sm;
  padding-left: $sizing--content__padding-sm;
  top: 9.65rem;
  
  @include screen(sm) {
    padding-right: 0;
    padding-left: 0;
  }
  &__chapter-title {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.3;
    display: block;
    margin-bottom: 0.5rem;
    text-decoration: none;
  }
  &__label {
    @include wide-text($color--chapter-nav__label);
  }
  &__list {
    padding: 0;
    padding-bottom: 1rem;
    list-style-type: none;
    .chapter-nav__list {
      font-size: 0.9rem;
      padding: 0.5rem 0 0 2.75rem;
      .chapter-nav__list-item:first-child {
        display: none;
      }
    }
  }
  &__nested-list {
    font-size: 0.9rem;
    padding: 0.5rem 0 0 2.75rem;
    list-style-type: none;
  }
  &__nested-list-item {
    &--active {
      font-weight: bold;
    }
  }
  &__link,
  &__nested-link {
    display: block;
    padding: 0.1rem 0.4rem;
    text-decoration: none;
    color: inherit;
    border-radius: 0.25rem;
    &--active {
      font-weight: bold;
      background-color: $color--chapter-nav__active-background;
    }
    &:hover {
      text-decoration: underline;
    }
  }
  &__back {
    display: flex;
    font-size: 0.9rem;
    text-decoration: none;
    &::before {
      align-self: baseline;
      content: url(static-url-for('img/arrow-left.svg'));
      display: inline-block;
      height: 10px;
      margin-right: 5px;
      opacity: 0.35;
      width: 10px;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}
