div.table-wrapper {
  max-width: 100%;
  margin: 0;
  padding: 2.5rem 0.625rem;
  border: solid 1px #d2d2d2;
  border-radius: 0.25rem;
  background-color: #fff;

  @media (min-width: 525px) {
    margin: 40px;
    padding: 40px;
  }

  div.sub-wrapper {
    overflow-y: auto;
    max-width: 100%;
  }

  h5 {
    font-size: 1em;
    line-height: 2em;
    margin: 1.25rem;
    text-align: center;
    color: #129edf;

    svg {
      display: inline-block;
      height: 2em;
      margin-right: 0.625rem;
      vertical-align: top;
      color: black;
    }
  }
}

table {
  font-size: 0.7em;
  font-weight: 600;
  width: 100%;
  margin: auto;
  color: #2c3170;
  background-color: white;

  &.padded-table {
    margin-bottom: 1rem;
  }

  td {
    padding: 0.625rem;
    border: solid 1px #d2d2d2;
  }
}

th {
  padding: 0.625rem;
  border: solid 1px #d2d2d2;
}

table {
  th {
    text-align: left;
  }

  td {
    text-align: center;
  }

  th.empty {
    border-width: 0 1px 1px 0;
  }

  td {
    &.yes {
      background-color: #58cd79;
    }

    &.no {
      background-color: #ff7270;
    }

    &.other {
      background-color: #ffe252;
    }
  }
}
